<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos - G & M Sublimaciones</title>
    <link rel="shortcut icon" href="../assets/LOGO.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header>
      <nav class="navbar navbar-expand-xl" id="Navbar">
        <div class="container-fluid">
          <a class="navbar-brand align-items-center ms-0 ps-0 ms-md-4 ms-xl-5" href="#" id="NavbarIzquierda">
            <img src="../assets/LOGO.png" class="logo-navbar Logo" id="imagenNavbar">
            <p id="textoNavbar">G & M Sublimaciones</p></a>
          <div class="me-2 me-md-4 pe-md-4">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          
          
          <div class="collapse navbar-collapse justify-content-end me-0 pe-0 me-xl-4 pe-xl-4" id="navbarNav">
            <ul class="navbar-nav text-center">
              <li class="nav-item mt-3 mb-3">
                <a class="nav" href="../index.html" id="AnimacionBoton">Inicio</a>
              </li>
              <li class="nav-item mt-3 mb-3">
                <a class="nav" href="../index.html#Productos" id="AnimacionBoton">Productos</a>
              </li>
              <li class="nav-item mt-3 mb-3">
                <a class="nav" href="../templates/contactos.html" id="AnimacionBoton">Contactos</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>

<main>
  <div class="pt-1">
    <div class="container mb-5 mt-5 text-center">
        <h2>Consulta por los productos!</h2>
    </div>
    <form class="container pb-5" id="formulario">
        <div class="row g-0 justify-content-center">
          <div class="div-form col col-12 col-sm-12 col-md-6 col-lg-6 mb-3 px-3">
            <input name="nombre" type="text" class="form-control" placeholder="Nombre" required>
          </div>
          <div class="div-form col col-12 col-sm-12 col-md-6 col-lg-6 mb-3 px-3">
            <input name="apellido" type="text" class="form-control" placeholder="Apellido" required>
          </div>
          <div class="div-form col col-12 col-sm-12 col-md-6 col-lg-6 mb-3 px-3">
            <input name="email" type="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="div-form col col-12 col-sm-12 col-md-6 col-lg-6 mb-3 px-3">
            <input name="telefono" type="number" class="form-control" placeholder="Teléfono" required>
          </div>
          
          <div class="div-form col col-12 col-sm-12 col-md-12 col-lg-12  px-3">
            <textarea name="consulta" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Hacé tu consulta aquí!" required></textarea>
          </div>
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 mt-4 d-grid gap-2 px-3">
            <button class="btn btn-primary btn-lg" type="submit" style="background-color: #fa8fb1; border-color: #fa8fb1;" id="AnimacionBoton">Enviar</button>
          </div>
        </div>
      </form>
</div>
</main>

<footer>
  <div id="f1">
    <img src="../assets/LOGO.png" alt="">
    <a>G & M Sublimaciones</a>
  </div>
  <div id="f2">
    <img src="../assets/facebook.svg" alt="">
    <img src="../assets/instagram.svg" alt="">
    <img src="../assets/whatsapp.svg" alt="">
  </div>
    <ul>
        <li><a href="">Defensa al Consumidor</a></li>
        <li><a href="../templates/contactos.html">Contactos</a></li>
        <li><a href="">Términos y Condiciones</a></li>
    </ul>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../js/ajax.js">validarFormulario()</script>
  </body>
</html>